// Place all the styles related to the public/foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@charset "utf-8";
/* foodの詳細ページ */
/* 背景 */
.food-content {
  background-size: cover;
  background-image: url(hana.jpg);
  background-color: rgba(#fff, 0.4);
  background-blend-mode: overlay;
  min-height: 100vh;
  background-position: center top;
}
/* 見出し */
.food-title {
  font-size: 5rem;
  font-family: 'Philosophr', serif;
  font-weight: normal;
  padding-left: 5%;
  padding-top: 3%;
}
/* 　*/
.food-box {
  padding: 0 20%;
  padding-top: 2%;
}
/* user-name */
.food-user-name {
  font-size: 1.25rem;
  font-family: 'Philosophr', serif;
  font-weight: normal;
}
.food-titles {
  font-size: 1.5rem;
  font-family: 'Philosophr', serif;
  font-weight: normal;
  padding-top: 2%;
}
.food-body {
  font-size: 1.5rem;
  font-family: 'Philosophr', serif;
  font-weight: normal;
  padding-top: 2%;
}
.food-image {
  padding-top: 2%;
  text-align:  center;
}
.posted_date {
  text-align:right;
  font-size: 1.25rem;
}
/*  */
.food-box1 {
  text-align:  center;
  font-size: 1.25rem;
}
.food-edit-button {
  text-align:right;
  font-size: 1.25rem;
}
.food-box2 {
  padding: 5% 6%;
  font-size: 1.25rem;
}
.food-box3 {
  padding: 2% 6%;
}

/*========= スクロールダウンのためのCSS ===============*/


/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/

/*スクロールダウン全体の場所*/
.scrolldown4{
    /*描画位置※位置は適宜調整してください*/
  position:absolute;
  bottom:1%;
  right:50%;
    /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
      0%{bottom:1%;}
      50%{bottom:3%;}
     100%{bottom:1%;}
 }

/*Scrollテキストの描写*/
.scrolldown4 span{
    /*描画位置*/
  position: absolute;
  left:-20px;
  bottom:10px;
    /*テキストの形状*/
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 1px;
    height: 20px;
    background: #eee;
    transform: skewX(-31deg);
}

.scrolldown4:after{
  content:"";
    /*描画位置*/
  position: absolute;
  bottom:0;
  right:0;
    /*矢印の形状*/
  width:1px;
  height: 50px;
  background:#eee;
}