// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 
/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* topページのレイアウト */
/* 画面中央と余白・の指定 */
.top-content {
  background-size: cover;
  background-image: image-url("pancake.jpg");
  background-color: rgba(#fff, 0.4);
  background-blend-mode: overlay;
  min-height: 100vh;
  background-position: center top;
  text-align:center;
  padding-top: 10%;
}

/* pタグのフォントサイズと余白の指定 */
.top-content p {
 font-size: 1.125rem;
 margin: 10px 0 42px;
}
/* 見出し */
.top-title {
  font-size: 5rem;
  font-family: 'Philosophr', serif;
  text-transform: uppercase;
  font-weight: normal;
}
/* 新規登録ボタン */
.signup-button {
  padding: 18px 32px;
  margin-top: 30px;
}
/* ログインボタン */
.login-button {
  padding: 40px 40px;
  margin: 30px;
}

 /* aboutページのスライドショー */
 .image1 {
  background-image: image-url("hamburger.jpg");
}
.image2 {
  background-image: image-url("supa.jpg");
}
.image3 {
  background-image: image-url("rokomoko.jpg");
}
.image4 {
  background-image: image-url("omuraisu.jpg");
}
.image5 {
  background-image: image-url("cafe2.jpg");
}
#container{
  height: 1000px;
}


/* レスポンシブ対応 */
@media screen and (max-width:425px) {
  #container {
   height: 600px;
  }
  
  .top-title {
    font-size: 2rem;
    padding-top: 10%;
  }
  
  .top-content p {
    padding-top: 10%;
  }
  
  .top-text {
    font-size: 1rem;
    padding-top: 3%;
  }
  
  .login-button {
    padding: 40px 40px;
    margin: 0;
  }
}
