// Place all the styles related to the public/relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.followings-content {
  background-size: cover;
  background-image: image-url("cafe3.jpg");
   background-color: rgba(#fff, 0.4);
  background-blend-mode: overlay;
  min-height: 100vh;
  background-position: center top;
}
.followers-content {
  background-size: cover;
  background-image: image-url("cafe4.jpg");
   background-color: rgba(#fff, 0.4);
  background-blend-mode: overlay;
  min-height: 100vh;
  background-position: center top;
}