// Place all the styles related to the public/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* login画面のレイアウト */
/* 画面中央と背景・余白の指定 */
.login-content {
  background-size: cover;
  background-image: url(cafe.jpg);
  background-color: #ddd;
  background-blend-mode: darken;
  min-height: 100vh;
  background-position: center top;
}
/* 見出し */
.login-title {
  font-size: 5rem;
  font-family: 'Philosophr', serif;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 5%;
  padding-left: 10%;
}
/* フォーム */
.login-form {
    font-family: 'Philosophr', serif;
    padding-top: 20px;
    padding-left: 10%;
}
/* ログインボタンの配置 */
.login-actions {
    padding-top: 10px;
}
/* 新規会員登録リンク */
.login-guidance {
    padding-top: 20px;
    padding-left: 10%;
    padding-bottom: 20%;
}