// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* user詳細ページ */
/* 背景 */
.user-content {
  background-size: cover;
  background-image: url(cafe.jpg);
   background-color: rgba(#fff, 0.4);
  background-blend-mode: overlay;
  min-height: 100vh;
  background-position: center top;
}
/* 見出し */
.mypage-title {
  font-size: 5rem;
  font-family: 'Philosophr', serif;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 7%;
  padding-left: 10%;
}
/* userの名前 */
.user-name {
  font-family: 'Philosophr', serif;
  font-weight: normal;
  padding-top: 5%;
  padding-left: 50%;
}
/* 自己紹介文 */
.user-text {
  font-family: 'Philosophr', serif;
  font-weight: normal;
  padding-left: 50%;
  padding-top: 3%;
}
/* 画像とフォロー */
.image-follow {
  padding-top: 3%;
  padding-left: 50%;
  font-size: 0;
}
/* 画像 */
.user-image {
  display: inline-block;
  font-size: 16px;
}
/* follow */
.user-follow {
  display: inline-block;
  font-size: 16px;
  padding-left: 30px;
} 
.followings {
  display: inline-block;
  font-size: 16px;
  padding-left: 30px;
}
.followers {
  display: inline-block;
  font-size: 16px;
  padding-left: 30px;
}
/* プロファイル編集 */
.users-edit {
  padding-top: 3%;
  padding-left: 70%;
}
/* 今までの投稿 */
.food-all {
  padding-top: 3%;
  padding-left: 70%;
}
/* いいねした投稿へのリンク */
.favorites-link {
  padding-top: 3%;
  padding-left: 70%;
  padding-bottom: 5%;
}

/* user編集画面 */
.cover-user-edit {
  height: 100%;
  width: 100%;
  background-image: url();
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}
/* userの編集画面 */
.user-edit {
  text-align:center;
  margin-bottom: 10%;
}

/* user一覧 */
/* 背景 */
.users-content {
  background-size: cover;
  background-image: url(cafe2.jpg);
  background-color: rgba(#fff, 0.4);
  background-blend-mode: overlay;
  min-height: 100vh;
  background-position: center top;
}
/* usersページの見出し */
.users-title {
  font-size: 5rem;
  font-family: 'Philosophr', serif;
  text-transform: uppercase;
  font-weight: normal;
  padding-left: 5%;
  padding-top: 5%;
}
/* users */
.users-box { 
  padding: 5% 20%;
}
/* userの写真 */
.users-image {
  padding-rigth: 30px;
}
/* userのfollowボタン */
.users-follow {
}
/*  userの名前 */
.users-name {
  font-size: 2rem;
  font-family: 'Philosophr', serif;
  font-weight: normal;
}
/* userの自己紹介 */
.users-introduction {
  font-size: 1rem;
  font-family: 'Philosophr', serif;
  font-weight: normal;
  padding-bottom: 5%;
}
/* 退会確認画面 */
.note-content {
  background-size: cover;
  background-image: url();
  background-color: rgba(#fff, 0.4);
  background-blend-mode: overlay;
  min-height: 100vh;
  background-position: center top;
  text-align:center;
  padding-top: 10%;
}
.note-title {
  font-size: 5rem;
  font-family: 'Philosophr', serif;
  text-transform: uppercase;
  font-weight: normal;
  color: red;
}
.note-content p {
  font-size: 1.5rem;
  margin: 10px 0 42px;
}
.confirmation-button {
  padding-top: 3%;
  font-size: 0;
}
.not-unsubscribe-button {
  display: inline-block;
  font-size: 16px;
}
.unsubscribe-button {
  display: inline-block;
  font-size: 16px;
  padding-left: 30px;
}