<div class="users-content">
  <h2 class="users-title">followers</h2>
  <div class="users-box">
    <% if @users.exists? %>
      
      <%= render 'public/users/users', users: @users %>
      
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
  </div>
</div>