<h4><%= notice %></4>
<div class="card-list-container py-5">
    <div class='jscroll-div'>
        <%= render 'public/foods/food', foods: @foods, user: @user %>
    </div>
</div>  

        <div class="scrolldown4"><span>Scroll</span></div>
