<h2>検索結果</h2>

<!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <div class="users-content">
      <h2 class="users-title">Users List</h2>
      <div class="users-box">
        
        <%= render 'admin/users/users', users: @users %>
        
      </div>
    </div>

  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがFoodの時) -->
    <tbody>
      <div class="card-list-container py-5">
        
        <%= render 'admin/foods/food', foods: @foods %>
        
      </div>  
    </tbody>
  <% end %>
</table>