// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* userの編集画面 */
.admin-edit {
  text-align: right;
  margin-bottom: 10%;
}
.users-index-content {
  background-size: cover;
  background-image: image-url("cocoa.jpg");
  background-color: rgba(#fff, 0.4);
  background-blend-mode: overlay;
  min-height: 100vh;
  background-position: center top;
}