<div class="note-content">
    <h2 class="note-title">Read Carefully!</h2>
    <p>
     退会手続きをされますと、<br class="br-sp">全てのサービスがご利用頂けなくなります。<br>
     再度ご利用をいただく場合には、<br class="br-sp">新規登録のお手続きが<br class="br-sp">必要になります。<br>
     本当に退会してよろしいですか？
   </p>
    <div class="confirmation-button">
        <div class="not-unsubscribe-button">
           <%= link_to "退会しない", user_path(@user.id), class:"btn btn-primary mr-4", style:'width:120px' %>
       </div>
       <div class="unsubscribe-button">
           <%= link_to "退会する", withdraw_user_path,  method: :patch, data: { confirm: '本当に退会しますか？' }, class:"btn btn-danger", style:'width:120px' %>
       </div>
   </div>
</div>

       
       
      
      